.tube{
    width: 60px;
    height: 200px;
    border: 3px solid black;
    flex-direction: column;
    display: flex;
    justify-content: flex-end
}

#game{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.liquid{
    width:60px;
    height: 50px;
    border: none;
}

.button{
    /*上部からの余白*/
    margin-top: 20px;
    /*中央ぞろえ*/
    justify-content: center;
    /* テキストボックスみたいに文字列を加工*/
    display: inline-block;
    /* 余白の大きさ*/
    padding: 10px 30px;
    color: #FFF;
    background: #4150a1;/*背景色*/
    border-bottom: solid 2px #0d1f80;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.words{
    // 文字の可読性を挙げる。縁取りか色変更など？
}

.selected{
    transform: translateY(-20px);
}

.hidden{
    display: none;
}

#clearScreen{
    background-color: rgba(0, 0, 0, 0.2);
}