#tubeContainer{
    display: flex;
    gap: 20px;
}

#selectScreen{
    gap: 10px;
}

#gameButtons{
    display: flex;
}
.tube{
    width: 60px;
    height: 220px;
    border: 3px solid #0f0707cc;
    background-color: #36363644;
    border-radius: 4px;/*角の丸み*/    
    flex-direction: column;
    display: flex;
    justify-content: flex-end
}

#title{
    color: rgb(65, 38, 23)
}

#menu{
    background-color: bisque;
    display: flex;
    gap: 20px
}
.choice{
    display: flex;
    gap: 20px;
    color: #0f0707cc
}

#game{
    gap: 20px;
    justify-content: center;
}

.liquid{
    width:60px;
    height: 50px;
    border: none;
}

.button{
    /*上部からの余白*/
    margin-top: 20px;
    /*中央ぞろえ*/
    justify-content: center;
    /* テキストボックスみたいに文字列を加工*/
    display: inline-block;
    /* 余白の大きさ*/
    padding: 10px 30px;
    color: #FFF;
    background: #a16741;/*背景色*/
    border-bottom: solid 2px #5e3c25;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.button1{
    /*上部からの余白*/
    margin-top: 20px;
    /*中央ぞろえ*/
    justify-content: center;
    /* テキストボックスみたいに文字列を加工*/
    display: inline-block;
    /* 余白の大きさ*/
    padding: 10px 30px;
    color: #FFF;
    background: #5e3c25;/*背景色*/
    border-bottom: solid 2px #332014;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.selected{
    transform: translateY(-20px);
}

.hidden{
    display: none;
}

#clearScreen{
    border: 3px solid #201810cc;
    background-color: rgba(248, 204, 154, 0.486);
}